!!!5
%html{:'ng-app' => 'phoneApp', :'ng-controller' => "PhoneListCtrl"}
  %head
    %meta{ :charset => "utf-8" }/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    / %title= data.page.title || "Angular-Start"
    %title{:'ng-bind-template' => "Phone Gallery: {{query}}"} Phone Gallery
    / Stylesheet
    = stylesheet_link_tag "application"
    / Javascript
    = javascript_include_tag "application"
    = javascript_include_tag "angular"
    = javascript_include_tag "simple"

  %body
    / nav
    = partial "layouts/nav"

    = yield

    / footer
    = partial "layouts/footer"

